/* Media Queries: http://stackoverflow.com/a/18850777/1208507 */

/* Open-Dark Layout: */
body.open-dark {
  margin: 10px;
  overflow-x: hidden;
  /*font-family: serif;*/
  background-color: DarkSlateGray;
  color: WhiteSmoke;
}
.open-dark > h1,
.open-dark > h2 {
  margin-left: 8%;
}
@media(max-width: 767px) {
  .open-dark > h2 { font-size: 18px; }
}
.col-centered {
    float: none;
    margin: 0 auto;
}

img { margin: 50px auto; }
#dimTop {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  position: fixed;
  padding: 0;
  margin: 0;
  background: black;
}
#dimBot {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  position: fixed;
  padding: 0;
  margin: 0;
  background: black;
}
#lyrics {
  margin-top: 1%;
  text-align: center;
  font-size: 3em;
  font-family: Papyrus,fantasy;
  font-weight: bold;
}

#play {
  margin: 200px auto;
  /*padding: 40px;*/ 
  font-size: 3em;
}

#mute {
  background: black;
  border: 0 none;
  color: gray;
}
#mute:focus, #mute:active:focus, #mute.active:focus { outline: 0 none; }

#inspiration { font-size: 2em; }
#inspiration div:first-child { text-align: right; }
.row {
  margin-left: 0px;
  margin-right: 0px;
}