/* Media Queries: http://stackoverflow.com/a/18850777/1208507 */

/* Open-Dark Layout: */
body.open-dark {
  margin: 10px;
  overflow-x: hidden;
  /*font-family: serif;*/
  background-color: DarkSlateGray;
  color: WhiteSmoke;
}
.open-dark > h1,
.open-dark > h2 {
  margin-left: 8%;
}
@media(max-width: 767px) {
  .open-dark > h2 { font-size: 18px; }
}
.col-centered {
    float: none;
    margin: 0 auto;
}
img.hide-img { visibility: hidden; }
